<%= simple_form_for [sufia, @form], html: { multipart: true } do |f| %>
    <%= hidden_field_tag('redirect_tab', 'descriptions') %>
    <h1>Descriptions <span class="pull-right required"><abbr title="required">*</abbr> indicates required fields</span></h1>
      <div class="well">

		<input type="hidden" id="update_path" value="<%= update_edit_path %>" />
		<%= link_to 'Update fields', update_edit_path, :id => 'update_link', :remote => true %>
        <% f.object.terms.each do |term| %>
          <%= render_edit_field_partial(term, f: f) %>
        <% end %>
        
        
        <div id="type_specific_fields">
        	<%= render partial: "type_fields", locals: {f: f, type_fields_map: f.object.type_fields_map}  %>
        </div>
        
        
        <h2><%= f.object.use.to_s.humanize %></h2>
         <% f.object.use_fields.each do |term| %>
          <%= render_edit_field_partial(term, f: f) %>
        <% end %>

      </div><!-- /well -->
    <div>
      <%= f.submit class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_descriptions" do %>
        <i class="glyphicon glyphicon-floppy-disk"></i> Save Descriptions
      <% end %>
    </div>
  <% end %>