    <h2 class="non lower">Files</h2>
    <table class="table table-striped">
        <tbody>
        <% @presenter.datafile_presenters.each do |df, df_presenter| %>
        <tr class="collection attributes">
        	<td width="30%">
        	<%= render_datafile_download_icon df %>
        	</td>
        	<td>
        	<h4><a href="<%= sufia.download_path(df) %>"><%= df_presenter.title.first %></a></h4>
        	<% present_terms(df_presenter,df_presenter.terms - [:title]) do |r, term| %>
  				<div><strong><%= r.label(term) %>: </strong><%= r.value(term) %></div>
  			<% end %>

  			<% df_presenter.type_fields_map.each do |type, terms| %>
			<% present_terms(df_presenter,terms) do |r, term| %>
			  <div><strong><%= r.label(term) %>: </strong><%= r.value(term) %></div>
			  <% end %>
			<% end %>
			</td>
 			 
        </tr>
      <% end %>
      </tbody>
      </table>
