<% if not @generic_file.nil?%>
<% @text = nil %>
<% if defined? label_text %>
<% @text = label_text%>
<% end %>
<%= f.label :related_hosts %>
<ul id="related_hosts_list">
<% @generic_file.related_hosts.each do |host| %>
	<%= f.simple_fields_for :related_hosts, host do |builder| %>
		<%= builder.input :id, as: :hidden %>
		<li>
    		"<%= host.title_principals.first.label %> " uploaded by <%= host.depositor %>
    	</li>
	<% end %>
<% end %>
</ul>

<%= f.input :related_hosts, as: :select_generic_file, label: false %>

<% end %>
